{{define "footer"}}
	
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" ></script>
	<script>window.jQuery || document.write('<script src="https://code.jquery.com/jquery-min.js"><\/script>')</script>

	<script src="https://v4.bootcss.com/assets/js/vendor/popper.min.js"></script>
	<script src="https://v4.bootcss.com/dist/js/bootstrap.min.js"></script>
 
	
{{end}}
