{{define "top"}}
    <header class="fixed-top">
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="/">{{.user}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
	      <li class="nav-item">
		<a class="nav-link" href="javascript:void(0)" role="button" id="instruments"  >
		  instruments
		</a>
	      </li>
	      <li class="nav-item">
		<a class="nav-link" href="/trades" role="button" id="openTrades"  >
		  openTrades
		</a>
	      </li>
          </ul>
        </div>
	<div class="msg"></div>
      </nav>
    </header>
{{end}}
